body {
    background-color: darkslategrey;
    font-family: 'Dubai Light', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
}

h1 {
    width: 100%;
    text-align: center;
    line-height: 150px;
    font-size: 50px;
}

.content {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
}

.subPages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}


a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 150px;
    height: 100px;
    margin: 10px;
    text-decoration: none;
    color: black;
    background-color: ghostwhite;
}