body {
    font-family: 'Dubai Light', sans-serif;
    margin: 10px;
    padding: 10px;
    display: flex;
    height: 100vh;
    --header-height: 5em;
}

.header {
    width: 100%;
    height: var(--header-height);
    text-align: center;
    position: fixed;
}

.home-link {
    position: fixed;
    top: 10px;
    left: 10px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s ease-in-out;
}

button:hover {
    background-color: #0056b3;
}

.backgroundColorAnimation {
    margin-top: var(--header-height);
    width: 100px;
    height: 100px;
    animation-name: backgroundColorAnimation;
    animation-duration: 4s;
}

@keyframes backgroundColorAnimation {
    0% {
        background-color: black;}
    100% {
        background-color: lightseagreen;
    }
}