.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.split-square {
    position: relative;
    width: 400px;
    height: 200px;
    margin-bottom: 10px;
}

.option {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    background-color: #fff;
    border: 2px solid #999;
    box-sizing: border-box;
    transition: transform 0.5s ease-in-out;
    position: absolute;
}

.option1 {
    left: 0;
}

.option2 {
    right: 0;
}

#spinButton {
    margin-bottom: 10px;
}
